body {
    background-color: #DAEAF1;
    font-family: 'Roboto', sans-serif;
    color: #36454F;

}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

.heading {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: left;
    margin-top: 5%;
}

h1{
    font-weight: bold;
    font-size: 60px;

}

h2{
    font-weight: bold;
    font-size: 30px;
}