body {
    background-color: #DAEAF1;
    font-family: 'Roboto', sans-serif;
    color: #36454F;

}

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: left;
    row-gap: 15px;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    
}

.heading {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 5%;
    max-width: 30em;
    min-width: 30em;

}

h1{
    font-weight: bold;
    font-size: 60px;

}

h2{
    font-weight: bold;
    font-size: 30px;
}